{% extends "base.html" %}

{% block title %}
Usuários
{% endblock %}

{% block page %}
Usuários
{% endblock %}

{% block content %}

<div class="top-actions">

    <a href="/usuarios/novo" class="btn">

        + Novo Usuário

    </a>

</div>

<div class="tabela-box">

    <table>

        <tr>

            <th>Nome</th>

            <th>Email</th>

            <th>Perfil</th>

            <th>Status</th>

        </tr>

        {% for usuario in usuarios %}

        <tr>

            <td>{{ usuario.nome }}</td>

            <td>{{ usuario.email }}</td>

            <td>{{ usuario.role }}</td>

            <td>

                {% if usuario.ativo %}

                <span class="ativo">
                    Ativo
                </span>

                {% else %}

                <span class="desativado">
                    Desativado
                </span>

                {% endif %}

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}