{% extends "base.html" %}

{% block title %}
Usuários
{% endblock %}

{% block content %}

<h1>

Cadastro usuários

</h1>

<form method="POST">

<input
name="nome"
placeholder="Nome">

<input
name="email"
placeholder="Email">

<input
name="senha"
placeholder="Senha">

<select name="role">

<option value="ADMIN">
ADMIN
</option>

<option value="FUNCIONARIO">
FUNCIONARIO
</option>

</select>

<button>

Criar usuário

</button>

</form>


<table>

<tr>

<th>Nome</th>
<th>Email</th>
<th>Perfil</th>
<th>Status</th>

</tr>

{% for user in usuarios %}

<tr>

<td>{{user.nome}}</td>

<td>{{user.email}}</td>

<td>{{user.role}}</td>

<td>

{% if user.ativo %}

Ativo

{% else %}

Inativo

{% endif %}

</td>

</tr>

{% endfor %}

</table>

{% endblock %}