<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>{% block titulo %}{% endblock %}</title>

<style>

body{
    margin:0;
    font-family:Arial;
    background:#f4f6f9;
}

nav{
    background:#222;
    padding:15px;
}

nav a{
    color:white;
    margin-right:20px;
    text-decoration:none;
}

.container{
    padding:30px;
}

</style>

</head>
<body>

<nav>

<a href="/dashboard">Dashboard</a>

<a href="/usuarios">Usuários</a>

<a href="/logout">Sair</a>

</nav>

<div class="container">

{% block conteudo %}
{% endblock %}

</div>

</body>
</html>