{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="dashboard">

    <div class="top-dashboard">

        <h1>
            Bem-vindo, {{ usuario.nome }}
        </h1>

        <a href="/logout" class="logout">
            Sair
        </a>

    </div>

    <div class="perfil">

        <h3>
            Perfil:
            <span>
                {{ usuario.role }}
            </span>
        </h3>

    </div>

    <div class="cards">

        <div class="card">
            Usuários
        </div>

        <div class="card">
            Produtos
        </div>

        <div class="card">
            Relatórios
        </div>

    </div>

    {% if usuario.role == "ADMIN" %}

    <div class="admin-menu">

        <h2>Área Administrativa</h2>

        <a href="/users">
            Gerenciar Usuários
        </a>

    </div>

    {% endif %}

</div>

{% endblock %}